body * {
	font-family: Courier;
}
/*#game {
	border: 1px solid darkgray;
	margin: 0 auto;
	padding-top: 4px;
	border-spacing: 1px;
}
tr:first-child {
	padding-top: 5px;
}
td {
	padding: 0px 2px 0px 2px;
}*/
h1 {
	text-align: center;
}
p {
	margin: 0px 30px 20px 30px;
}
div#start {
	margin: 0px 40% 40px 40%;
	font-size: 2em;
	text-align: center;
	background-color: lightgray;
	border: 2px dashed black;
	cursor: pointer;
}
div#start::selection {
	cursor: pointer;
}
#game {
	border: 1px solid darkgray;
	border-spacing: 1px;
	margin: 10px auto 0px auto;
}
#gameover {
	display: none;
	text-align: center;
	border: 1px solid darkgray;
	margin: 0 25% 0 25%;
	padding: 6px;
	font-size: 1.5em;
}
button {
	border-width: 4px;
	border-radius: 12px;
	margin: 8px 0px 8px 0px;
	font-size: 1.5em;
}
td {
	padding: 0px;
}